<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/auth.css">
    <title>Fazer login</title>
</head>
<body>
    <main>
        <form method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password">
            <span>Não tem uma conta? <a href="/register">Crie agora.</a></span>
            {% if empty == True %}
            <p>Email ou senha vazios</p>
            {%endif%}
            {% if invalid == True %}
            <p>Email ou senha incorretos</p>
            {%endif%}
            <button type="submit">Entrar</button>
        </form>
    </main>
</body>
</html>