<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar conta</title>
</head>
<body>
    <main>
        <h1>Crie sua conta</h1>
        <form method="POST">
            <div>
                <input type="text" name="name" id="name" placeholder="Seu nome">
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Crie uma senha">
            </div>
            <button type="submit">Criar conta</button>
        </form>
    </main>
</body>
</html>